<mat-toolbar class="footer text-white navbar-fixed-bottom">
    <div class="row">
        <div class="col p-3">
            <h4>Geekube</h4>
            <ul>
                <li>
                    <a>
                        <img class="emoji" src="assets/img/brazil_flag.png" alt="Emoji Bandeira do Brazil"> Brasil
                    </a>
                </li>
            </ul>
        </div>
        <div class="col p-3">
            <h4>Suporte</h4>
            <ul>
                <li><a href="#">geekube@gmail.com</a></li>
            </ul>
        </div>
        <div class="col p-3">
            <h4>Cartões Aceitos</h4>
            <ul>
                <li>
                    <a href="#"><img class="cartoes" src="assets/img/cartoes_inline.png" alt="Cartões Aceitos pelo Site"></a>
                </li>
            </ul>
        </div>
        <div class="col p-3">
            <h4>Redes Sociais</h4>
            <div class="social-links">
                <a href="#"><img class="iconRedeSocial" src="assets/img/icon_facebook.png" alt="Logo facebook"></a>
                <a href="#"><img class="iconRedeSocial" src="assets/img/icon_instagram.png" alt="Logo instagram"></a>
            </div>
        </div>
    </div>
</mat-toolbar>