<mat-sidenav-container class="container bg-light">
    <mat-sidenav-content class="d-flex justify-content-center pt-5 pb-5">
        <div class="col-md-6 bg-dark text-center text-white p-2">
            <h1 class="text-white">Geekube</h1>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Usuário</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <br>

            <div class="row p-4">
                <div class="col-md-6"><button class="btn btn-success">Entrar</button></div>
                <div class="col-md-6"><button class="btn btn-success">Cadastrar</button></div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>