<div class="bg-white text-center text-dark p-4 border rounded">
    <h1>Geekube</h1>
    <br>

    <div>
        <label>Usuário</label>
        <input [value]="user" class="form-control" />
    </div>
    <br>

    <div>
        <label>Senha</label>
        <input [value]="password" class="form-control" />
    </div>
    <br>

    <div class="row p-4">
        <div class="col-md-6"><a routerLink="/"><button class="btn btn-success">Entrar</button></a></div>
        <div class="col-md-6"><a routerLink="/center/register"><button class="btn btn-success">Cadastrar</button></a></div>
    </div>
</div>