<div class="body" style="overflow-x: hidden;">
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/carrossel_1.jpg" class="d-block w-100" alt="..." style="margin-top: 56px;">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/carrossel_2.jpg" class="d-block w-100" alt="..." style="margin-top: 56px;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="margin-top: 56px;"> 
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="margin-top: 56px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Proximo</span>
                </button>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <mat-card class="home mat-elevation-z5 bg-light">
            <br><br>
            <div class="row img-wrapper p-2 d-flex justify-content-center">
                <div class="col-sm-3">
                    <b><h2 align="right">ESTAMPAS<br>UNICAS<br>PARA VOCÊ</h2></b>
                    <p align="right">Aproveite a nossa variedade de itens que você recebe em cada box.</p>
                </div>

                <div class="col-sm-3 ">
                    <div>
                        <img src="/assets/img/camisas_geek.png" style="max-width: 30vh; " />
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="home mat-elevation-z5 bg-dark">
            <div class="row img-wrapper p-4 m-2">
                <div class="col-sm-4">
                    <div class="card border-dark">
                        <img src="/assets/img/cards_1.png" />
                        <div class="img-overlay p-4">
                            <button class="b-0 btn btn-success" (click)="gotToBox('1')">Saiba mais</button>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-sm-4">
                    <div class="card border-dark">
                        <img src="/assets/img/cards_2.png" />
                        <div class="img-overlay p-4">
                            <button class="b-0 btn btn-success" (click)="gotToBox('2')">Saiba mais</button>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-sm-4">
                    <div class="card border-dark">
                        <img src="/assets/img/cards_3.png " />
                        <div class="img-overlay p-4">
                            <button class="b-0 btn btn-success" (click)="gotToBox('3')">Saiba mais</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </mat-card>
    </div>
</div>