<div class="container bg-light">
    <div class="bg-light text-dark p-4">
        <h1 align="center">Histórico</h1>
        <hr>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2">Código</th>
                        <th class="col-md-2">Data entrega</th>
                        <th class="col-md-2">Status</th>
                        <th class="col-md-1">Total</th>
                        <th class="col-md-1">Qtd</th>
                        <th class="col-md-2">Devolução</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="pedidos.length == 0">
                        <td colspan="6" class="text-center"><b>Nenhum pedido encontrado!</b></td>
                    </tr>
                    <tr *ngFor="let pedido of pedidos; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ pedido["dataEntrega"] }}</td>
                        <td>{{ pedido["status"] }}</td>
                        <td>R$ {{ pedido["totalPedido"] }}</td>
                        <td>{{ pedido["quantidade"] }}</td>
                        <td><button value="{{ pedido['id'] }}" class="btn btn-warning" (click)="devolverPedido($event)" [disabled]="pedido['status'] == 'DEVOLVIDO'">Devolver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>