<div class="bg-white text-center text-dark p-4 border rounded">
    <h2>Registrar-se</h2>

    <div>
        <label>Nome</label>
        <input class="form-control" placeholder="Digite seu nome" />
    </div>
    <br>
    <div>
        <label>E-mail</label>
        <input class="form-control" placeholder="Digite seu e-mail" />
    </div>
    <br>

    <div>
        <label>Senha</label>
        <input class="form-control" placeholder="Digite sua senha" />
    </div>
    <br>

    <button class="btn btn-success">Cadastrar</button>
</div>