<div class="bg-white text-center text-dark p-4 border rounded">
    <h2>Registrar-se</h2>

    <div>
        <label>Nome</label>
        <input [(ngModel)]="nome" class="form-control" placeholder="Digite seu nome" />
    </div>
    <br>
    <div>
        <label>CPF</label>
        <input [(ngModel)]="cpf" class="form-control" placeholder="Digite seu cpf" />
    </div>
    <br>
    <div>
        <label>E-mail</label>
        <input [(ngModel)]="email" class="form-control" placeholder="Digite seu e-mail" />
    </div>
    <br>

    <div>
        <label>Senha</label>
        <input [(ngModel)]="senha" class="form-control" placeholder="Digite sua senha" type="password" />
    </div>

    <br>

    <button class="btn btn-success" (click)="criarUsuario()">Cadastrar</button>
</div>